<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sc</servlet-name>
        <servlet-class>examen.controller.SucursalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uc</servlet-name>
        <servlet-class>examen.controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pc</servlet-name>
        <servlet-class>examen.controller.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cc</servlet-name>
        <servlet-class>examen.controller.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vc</servlet-name>
        <servlet-class>examen.controller.VentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sc</servlet-name>
        <url-pattern>/sc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uc</servlet-name>
        <url-pattern>/uc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pc</servlet-name>
        <url-pattern>/pc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cc</servlet-name>
        <url-pattern>/cc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vc</servlet-name>
        <url-pattern>/vc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
